<ui-page header="Единицы измерения">
  <ng-template uiPageTab="Таблица">
    <ui-table [columns]="columns" [actions]="actions" />
    <ng-template let-row #actions="polymorpheus" [polymorpheus]="rowContext">
      <button
        *tuiLet="toUpdateCommand.command as command"
        tuiIconButton
        type="button"
        [icon]="command.icon"
        appearance="flat"
        size="s"
        shape="rounded"
        (click)="command.execute(row)"
      ></button>
      <button
        *tuiLet="deleteCommand.command as command"
        tuiIconButton
        type="button"
        [icon]="command.icon"
        appearance="flat"
        size="s"
        shape="rounded"
        (click)="command.execute(row)"
      ></button>
    </ng-template>
  </ng-template>

  <ng-template uiPageActions>
    <button
      *tuiLet="createModalCommand.command as command"
      tuiIconButton
      type="button"
      [icon]="command.icon"
      appearance="flat"
      size="s"
      shape="rounded"
      (click)="command.execute(undefined)"
    ></button>
  </ng-template>
</ui-page>
