<h3 class="tui-form__header tui-form__header_margin-top_none">
  Создание ед.измерения
</h3>
<form
  [formGroup]="form"
  tuiTextfieldSize="l"
  [tuiTextfieldCleaner]="true"
  [tuiTextfieldLabelOutside]="true"
>
  <div class="tui-form__row">
    <tui-input formControlName="code">
      Код
      <input tuiTextfield type="text" />
    </tui-input>
    <tui-error formControlName="code" [error]="[] | tuiFieldError | async" />
  </div>
  <div class="tui-form__row">
    <tui-input formControlName="name">
      Наименование
      <input tuiTextfield type="text" />
    </tui-input>
    <tui-error formControlName="name" [error]="[] | tuiFieldError | async" />
  </div>
  <div class="tui-form__row">
    <tui-input formControlName="fullName">
      Полное наименование
      <input tuiTextfield type="text" />
    </tui-input>
  </div>
  <tui-error formControlName="fullName" [error]="[] | tuiFieldError | async" />
  <div class="tui-form__buttons">
    <button
      appearance="flat"
      size="m"
      tuiButton
      type="button"
      class="tui-form__button"
    >
      Отменить
    </button>
    <button size="m" tuiButton type="submit" class="tui-form__button">
      Создать
    </button>
  </div>
</form>
